/* ================= FOOTER ================= */
.site-footer {
  background: #ffffff;
  padding: 1rem 2rem;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.footer-brand h3 {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.footer-brand p {
  font-size: 0.9rem;
  line-height: 1.7;
  color: #666;
}

.footer-links h4 {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 0.6rem;
}

.footer-links a {
  color: #666;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-links a:hover{
  color: #161616;
}

.footer-bottom {
  text-align: center;
  margin-top: 3rem;
  font-size: 0.8rem;
  color: #666;
}
